[Unit]
Description=Flask App Service
After=network.target

[Service]
User={{ app_user }}
WorkingDirectory={{ app_dir }}
ExecStart=/usr/bin/python3 {{ app_dir }}/app.py
Restart=always

[Install]
WantedBy=multi-user.target

